<div class="container vh-100 pt-3 background">

  <div class="d-flex justify-content-between align-items-center mb-5">
    <div>
      <h1><b>Meu dia</b></h1>
      <app-date-time></app-date-time>
    </div>
    <div>
      <button class="btn btn-black mb-2 px-3 py-2" (click)="newTask()">+</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <div *ngIf="selectedTask">
        <form (submit)="onSubmit()" class="mb-3">
          <div class="form-group">
            <label for="title">Título</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="selectedTask.title" name="title" required>
          </div>
          <div class="form-group">
            <label for="description">Descrição</label>
            <textarea class="form-control" id="description" [(ngModel)]="selectedTask.description" name="description" required></textarea>
          </div>
          <div class="text-center mt-3">
            <button type="submit" class="btn btn--bs-dark-bg-subtle">Salvar</button>
            <button type="button" class="btn btn-secondary" (click)="clearSelection()">Cancelar</button>
          </div>
        </form>
      </div>
      <ul class="list-group">
        <li *ngFor="let task of tasks" class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5>{{ task.title }}</h5>
              <p>{{ task.description }}</p>
            </div>
            <div>
              <button type="button" class="btn btn--bs-dark-bg-subtle" (click)="editTask(task)">Editar</button>
              <button type="button" class="btn btn-secondary" *ngIf="task._id" (click)="deleteTask(task._id)">Deletar</button>              
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>